doctype html
html
	head
		title=title

		meta(charset='utf-8')

		meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')

		meta(name='description',content='Skeleton')

		meta(name='viewport',content='width=device-width,initial-scale=1')

		link(rel='/images/apple-touch-icon',href='/images/apple-touch-icon.png')

		link(rel='stylesheet',href='/stylesheets/custom.css')

		link(rel='stylesheet',href='/stylesheets/normalize.min.css')

		link(rel='stylesheet',href='/stylesheets/main.css')

		script(src='/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')

		script.window.jQuery||document.write('<scriptsrc="javascripts/vendor/jquery-1.11.2.min.js"><\\/script>')

		script(src='javascripts/main.js')

	body
		block content